repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/charliermarsh/ruff
    rev: v0.3.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: []
  - repo: https://github.com/prettier/prettier
    rev: 3.3.2
    hooks:
      - id: prettier
        types_or: [ts, javascript, json, yaml, markdown]
  - repo: https://github.com/eslint/eslint
    rev: v9.5.0
    hooks:
      - id: eslint
        types: [ts, javascript]
        additional_dependencies:
          - eslint
          - '@typescript-eslint/parser'
          - '@typescript-eslint/eslint-plugin'
          - prettier
          - eslint-config-prettier
